* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button#theme-toggle {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0.5rem;
    font-size: 24px;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

button#theme-toggle i {
    vertical-align: middle;
}

button#theme-toggle:focus {
    outline: none;
}

.dark-theme {
    --background-color: linear-gradient(135deg, #1A1B23 0%, #1E1F26 100%);
    --text-color: #F5F5F5;
    --secondary-text-color: #B3B3B3;
    --input-background-color: #2F3037;
    --input-border-color: #41434A;
}

.light-theme {
    --background-color: linear-gradient(135deg, #dcdcdc 0%, #F5F5F5 100%);
    --text-color: #1E1F26;
    --secondary-text-color: #4C4C4C;
    --input-background-color: #FFFFFF;
    --input-border-color: #CCCCCC;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#input-container {
    margin-bottom: 20px;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem 0;
    color: var(--secondary-text-color);
}

#output {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

input[type="text"],
textarea {
    background-color: var(--input-background-color);
    color: var(--text-color);
    border: 1px solid var(--input-border-color);
    width: 100%;
    border-radius: 4px;
    resize: vertical;
    padding: 10px 20px;
    font-size: 20px;
    font-family: inherit;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

pre,
.card {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0;
}

.card {
    display: inline-block;
    background-color: var(--input-background-color);
    color: var(--secondary-text-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    color: #B3B3B3;
    font-size: 1.2em;
}

.card-title {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

a:visited {
    text-decoration: none;
    color: var(--secondary-text-color);
}

h2 {
    color: var(--secondary-text-color)
}


#formatted-output-container {
    position: relative;
}

#formatted-output {
    background-color: var(--input-background-color);
    color: var(--secondary-text-color);
    width: 100%;
    min-height: 200px;
    border-radius: 4px;
    resize: vertical;
    padding: 10px 20px;
    font-size: 20px;
    font-family: inherit;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
}

#copy-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--input-border-color);
    padding: 0.5rem;
    font-size: 24px;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1000;
}

#copy-button::after {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--input-background-color);
    color: var(--text-color);
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1001;
}

#copy-button:hover::after {
    display: block;
}

#copy-button:focus {
    outline: none;
}